<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Pong</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background: #111;
            color: #fff;
            font-family: sans-serif;
            font-size: 80px;
        }
    </style>
</head>
<body>
pong
<p th:text="|ping? ${name}!|"></p>
</body>
</html>